.card{
    height: 300px;
    width: 600px;
    background-image: linear-gradient(45deg, yellow,orange,red,purple);
    border-radius: 30px;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 50px;
}
body{
    background-color: black;
}
h2{
    color: black;
    text-align: center;
    margin-top: 30px;
    margin: 30px;
    padding-top: 30px;
}
h3{
    color: black;
    margin: 30px;
}
#container{
    height: 600px;
    width: 1350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 130px;
    margin-left: 75px;
    
}
